@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Fleur De Leah', cursive;
font-family: 'Nunito', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Nunito&display=swap');

h1{
    font-family: 'Fleur De Leah', cursive;
}

p{
    font-family: 'Nunito', sans-serif;
}

.pricecard:hover > .carddetail{
    opacity: 1;
}

.pricecard:hover > div > .carddetail{
    opacity: 0.7;
}
